<!-- 
    
-->
<table cellspacing="10">
  <tbody>
      <tr>
          <td colspan="2" class='details'>
              <app-nba></app-nba>
          </td>
      </tr>
      <tr>
          <!-- <tr>
          <td colspan="2" class='details'>
              <app-item-details titlebar='Specifications' titleicon='businesscenter' [dts]='this.itemDetails'></app-item-details>
          </td>
      </tr> -->
          <!-- <tr>
          <td rowspan="2">
              <app-kpi-component titlebar='Stocks' titleicon='dashboard' kpiTitle='' [kpiEnabled]=true [kpis]='this.kpis3' gridTitle1='Stock implementation'
                  [gridEnabled1]=true [gridColumns1]='this.columns1' [gridDatas1]='this.datas1' chartTitle='' [chartEnabled]=true
                  [chartOptions]='this.options3'></app-kpi-component>
          </td>
          <td>
              <app-kpi-component titlebar='Links' titleicon='trending_up' gridTitle1='Links (3)' [gridEnabled1]=true [gridColumns1]='this.columns1'
                  [gridDatas1]='this.datas2'></app-kpi-component>
          </td>
      </tr> -->
          <!-- <tr>
          <td>
              <app-kpi-component titlebar='Promotions' titleicon='perm_device_information' gridTitle1='Promotions' [gridEnabled1]=true
                  [gridColumns1]='this.columns1' [gridDatas1]='this.datas3'></app-kpi-component>
          </td>
      </tr> -->
  </tbody>
</table>