<div class="kpi-chart-grid">
  <mat-toolbar class="vk-toolbar">
    <mat-toolbar-row>
      <mat-icon class="example-icon">{{titleicon}}</mat-icon>
      <span class="example-spacer"></span>
      <span>{{titlebar}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <div *ngIf="kpiEnabled">
      <p class="kpi-label">{{kpiTitle}}</p>
      <div class="kpi-ncard">
        <mat-card *ngFor="let kpi of kpis" class="kpi-card" [style.background]="kpi.color">
          <span matTooltip="{{kpi.title + ' : ' + kpi.value}}">
            <mat-card-content class="kpi-content">
              <p class="kpi-title">{{kpi.title}}</p>
              <p class="kpi-value">{{kpi.value}}</p>
            </mat-card-content>
          </span>
        </mat-card>
      </div>
      <br>
    </div>
    <div *ngIf="chartEnabled">
      <p class="kpi-label">{{chartTitle}}</p>
      <div #chartTarget class="kpi-chart">
        chart target
      </div>
      <br>
    </div>
    <div *ngIf="gridEnabled1" class="grid-container">
      <p class="kpi-label">{{gridTitle1}}</p>
      <app-datagrid-component [columns]='this.gridColumns1' [datas]='this.gridDatas1'></app-datagrid-component>
      <br>
    </div>
    <div *ngIf="gridEnabled2" class="grid-container">
      <p class="kpi-label">{{gridTitle2}}</p>
      <app-datagrid-component [columns]='this.gridColumns2' [datas]='this.gridDatas2'></app-datagrid-component>
      <br>
    </div>
    <div *ngIf="gridEnabled3" class="grid-container">
      <p class="kpi-label">{{gridTitle3}}</p>
      <app-datagrid-component [columns]='this.gridColumns3' [datas]='this.gridDatas3'></app-datagrid-component>
    </div>
  </mat-card>
</div>