<div class="kpi-chart-grid">
  <mat-toolbar class="vk-toolbar">
    <mat-toolbar-row>
      <mat-icon class="example-icon">{{titleicon}}</mat-icon>
      <span class="example-spacer"></span>
      <span>{{titlebar}}</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-card>
    <div class="dt-ncard">
      <mat-card *ngFor="let dt of dts" class="dt-card" [style.background]="dt.color">
        <mat-card-content class="dt-content">
          <p class="dt-title">{{dt.title}}</p>
          <p class="dt-value">{{dt.value}}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-card>
</div>