.vk-toolbar {
    color: white;
    font-size: 24px;
    font-weight: bold;
    background-color: #01579B;
}

.example-spacer {
    margin: 0 5px;
}

.nba-label {
    font-size: 18px;
    color: white;
}

p {
    Line-Height: 0.8;
}

.nba-logo {
    width: 2%;
}